<div class="recipe">
  <li>
    <div class="name">
      <%= recipe.name %>
    </div>
    <br />
    Instructions
    <div class="instructions">
      <%= recipe.instructions %>
    </div>
  </li>
</div>
