<h2>Edit drink recipe</h2>

<%= render "form", recipe: @recipe %>

  <%= form_for @recipe do |form| %>
    <% options = options_from_collection_for_select(@recipe.available_ingredients, "id", "name") %>
    <%= form.select :ingredients, options %>

    <%= form.submit %>
  <% end %>
