<h2>Options</h2>
<%= link_to "Add new recipe", new_recipe_path %>
<br />
<br />

<h3>Recipies</h3>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe) %>
      - ingredients: <%= recipe.ingredients.count %>
    </li>
  <% end %>
</ul>
