<% if @results.present? %>
  <h4><%= @results.count %> results for "<%= params[:search] %>"</h4>

  <ul>
    <% @results.each do |result| %>
      <li>
        <%= link_to result.name, result %>
      </li>
    <% end %>
  </ul>

  <br />

<% else %>
  <br />

  <h4>Nothing to see here. Maybe try for something else.</h4>
<% end %>
