<% if @results.present? %>
  <h4>Results for "<%= params[:search] %>"</h4>
  <br />
  <ul>
    <% @results.each do |key, result| %>
      <h2><%= key %> matches</h2>
      <div class="underscore-box">
        <% result.each do |item| %>
          <li>
            <%= link_to item.name.capitalize, item %>
          </li>
        <% end %>
      </div>
    <% end %>
  </ul>

  <br />

<% else %>
  <br />

  <h4>Nothing to see here. Maybe try for something else.</h4>
<% end %>
