<% if @results.present? %>
  <h4>Results for "<%= params[:search] %>"</h4>
  <br />
  <ul>
    <% @results.each do |key, group| %>
      <h2><%= key %> matches</h2>
      <div class="underscore-box">
        <% sorted_results = group.sort_by { |result| result.name } %>
        <% sorted_results.each do |result| %>
          <li>
            <%= link_to result.name.capitalize, result %>
          </li>
        <% end %>
      </div>
    <% end %>
  </ul>

  <br />

<% else %>
  <br />

  <h4>Nothing to see here. Maybe try for something else.</h4>
<% end %>
