form.rating_ballot input.rating_submit {
  display: none;
}

form.rating_ballot input.rating_button {
  display: none;
}


form.rating_ballot label.value_button {
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  float: left;
}

form.rating_ballot label.value_button span { display: none; }

form.rating_ballot label.value_button {
  background-image: url(./rating-glass-dim.png);
}

form.rating_ballot label.value_button.bright {
  background-image: url(./rating-glass-bright.png);
}

form.rating_ballot label.value_button.glow {
  background-image: url(./rating-glass--glow.png);
}
