$error-red: #FE4C44;
.error {
  color: $error-red;
}

.underscore-box {
  border-bottom: 1px solid #353535;
  padding: 3em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}
